{% include 'header.html' %}

<form action="/store" method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">Add Team</div>
    </div>
    <div class="card-body">
        <p class="card-text">
            <center><input hidden type="text" name="txtId" id="txtId""></center>
            <div class="form-group">
                <label for="txtName"></label>
                <center>Name&nbsp;&nbsp;<input type="text" name="txtName" id="txtName"></center>
            </div>
            <div class="form-group">
                <label for="txtCountry"></label>
                <center>Country &nbsp;&nbsp;<input type="text" name="txtCountry" id="txtCountry""></center>
            </div>
            <div class="form-group">
                <label for="txtManager"></label>
                <center>Manager &nbsp;&nbsp;<input type="text" name="txtManager" id="txtManager""></center>
            </div>
            <div class="form-group">
                <label for="teamLogo"></label>
                <center>
                    &nbsp;&nbsp;<input type="file" name="teamLogo" id="teamLogo">
                </center>
            </div>
        </p>
    </div>
    <div class="form-group">
        <label for="my-button"></label>
        <center><input class="btn btn-success" type="submit" value="Add Team">
        <a class="btn btn-primary" href="{{ url_for('index') }}">Home</a>
        </center>
    </div>
</form>

    <!-- <form action="/store" method="post" enctype="multipart/form-data">
        <br>
        <br>
        <center>Insert the team info</center>
        <br>
        <br>
        <center>Name {{ txtName }} &nbsp;&nbsp;<input type="text" name="txtName" v-bind:id="txtName"></center>
        <br>
        <br>
        <center>Country &nbsp;&nbsp;<input type="text" name="txtCountry" id="txtCountry"></center>
        <br>
        <br>
        <center>Manager &nbsp;&nbsp;<input type="text" name="txtManager" id="txtManager"></center>
        <br>
        <br>
        <center>Select the logo &nbsp;&nbsp;<input type="file" name="teamLogo" id="teamLogo"></center>
        <br>
        <br>
        <center><input type="submit" value="Add Team"></center>
    </form> -->
    <!-- Vue3 -->
    <script src="https://unpkg.com/vue@next"></script>

{%include 'footer.html'%}
