<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/store" method="post" enctype="multipart/form-data">
        Nombre:
        <input type="text" name="txtNombre" id="txtNombre">
        <br>
        <br>
        País:
        <input type="text" name="txtPais" id="txtPais">
        <br>
        <br>
        Técnico:
        <input type="text" name="txtTecnico" id="txtTecnico">
        <br>
        <br>
        Escudo:
        <input type="file" name="Escudo" id="Escudo">
        <br>
        <br>
        <button>Enviar</button>
    </form>
</body>
</html>