
{%include 'header.html' %}
<form action="/update" method="post" enctype="multipart/form-data">
    <div class="card">
        <div class="card-header">Modify Team</div>
    </div>
    <div class="card-body">
        <p class="card-text">
            <center><input hidden type="text" name="txtId" id="txtId" value="{{ equipo[0] }}"></center>
            <div class="form-group">
                <label for="txtName"></label>
                <center>Name {{ txtName }} &nbsp;&nbsp;<input type="text" name="txtName" v-bind:id="txtName" value="{{ equipo[1] }}"></center>
            </div>
            <div class="form-group">
                <label for="txtCountry"></label>
                <center>Country &nbsp;&nbsp;<input type="text" name="txtCountry" id="txtCountry" value="{{ equipo[2] }}"></center>
            </div>
            <div class="form-group">
                <label for="txtManager"></label>
                <center>Manager &nbsp;&nbsp;<input type="text" name="txtManager" id="txtManager" value="{{ equipo[3] }}"></center>
            </div>
            <div class="form-group">
                <label for="teamLogo"></label>
                <center>
                    <img src="{{ url_for('showLogo', nameLogo = equipo[4]) }}" width="100" alt="Team Logo">
                    &nbsp;&nbsp;<input type="file" name="teamLogo" id="teamLogo" value="{{ equipo[4] }}">
                </center>
            </div>
        </p>
    </div>
    <div class="form-group">
        <label for="my-button"></label>
        <center><input class="btn btn-success" type="submit" value="Modify Team">
        <a class="btn btn-primary" href="{{ url_for('index') }}">Home</a>
        </center>
    </div>
</form>
{%include 'footer.html'%}