
{% include 'header.html' %}

<table class="table table-dark">
    <thead class="thead-dark">
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Country</th>
                <th>Manager</th>
                <th>Logo</th>
                <th>Actions</th>
            </tr>
    </thead>
    <tbody>
        {% for equipo in equipos %}
        <tr>
            <td>{{equipo[0]}}</td>
            <td>{{equipo[1]}}</td>
            <td>{{equipo[2]}}</td>
            <td>{{equipo[3]}}</td>
            <td> 
                <img src="{{equipo[4]}}" alt="Logo del equipo">
            </td>
            <td>
                <a class="btn btn-warning" href="/modify/{{ equipo[0] }}">Edit</a>
                &nbsp;&nbsp;
                <a class="btn btn-danger" href="/delete/{{ equipo[0] }}">Delete</a> 
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{%include 'footer.html'%}
